[submodule "综合教程/04- 利用 GNU Radio + HackRF 手把手深入了解蓝牙协议栈（从电磁波 -> 01数据流 -> 蓝牙数据包） /auto_test_tool"]
	path = 综合教程/04- 利用 GNU Radio 和 HackRF 手把手深入了解蓝牙协议栈（从电磁波 to 01数据流 to 蓝牙数据包） /auto_test_tool
	url = git@github.com:nbtool/auto_test_tool.git
[submodule "综合教程/03- 利用 GNU Radio + HackRF + WireShark 做蓝牙抓包器（超低成本)/sdr4iot-ble-rx"]
	path = 综合教程/03- 利用 GNU Radio 和 HackRF 和 WireShark 做蓝牙抓包器（超低成本)/sdr4iot-ble-rx
	url = git@github.com:oldprogram/sdr4iot-ble-rx.git
[submodule "蓝牙专项/auto_test_tool"]
	path = 蓝牙专项/auto_test_tool
	url = git@github.com:nbtool/auto_test_tool.git
